configuration {
  dpi: 0;  /* Auto-detect DPI */
  scroll-method: 1;  /* Continous scrolling; not per page */
  terminal: "alacritty";
  font: "Ubuntu 12";
  display-drun: "🔎";
  drun-display-format: "{name}";
  drun, run {
    fallback-icon: "application-x-executable";
  }
  ssh {
    fallback-icon: "network-server";
  }
  calc {
    hint-welcome: "";
  }
}

@theme "base16-mocha"

@import "layout"


// vim:ft=css
