[Unit]
Description=Backup of package list to Dropbox

[Service]
Type=oneshot
ExecStart=/bin/sh -c '\
          pacman -Qen > "$HOME/dropbox/backup/arch_official_packages" \
          && pacman -Qem > "$HOME/dropbox/backup/arch_aur_packages"'
