[Unit]
Description=Backup of passwords to remote repo

[Service]
Type=oneshot
ExecStart=/bin/sh -c '\
          cd "$HOME/.password-store" \
          && export SSH_AUTH_SOCK=/run/user/1000/keyring/ssh \
          && git pull \
          && git push'
