[Unit]
Description=Back up passwords to remote repo

[Service]
Type=oneshot
ExecStart=/bin/sh -c '\
          eval "$(keychain --eval)" \
          && cd "$HOME/.password-store" \
          && git pull \
          && git push'
