[Unit]
Description=Dropbox daemon
After=xorg.target local-fs.target network.target

[Service]
ExecStart=/usr/bin/dropbox
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=10min

[Install]
WantedBy=default.target
