[Desktop Entry]
Type=Application
Version=1.0
Name=Feh image browser
GenericName=Image browser
Comment=An image browser
Exec=/home/procrat/bin/feh_browser.sh %f -Z -F -d
Icon=/usr/share/feh/images/feh.png
Terminal=false
Categories=Graphics;2DGraphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-pcx;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-tga;image/x-xbitmap;
